body{
    background-color: #E8E8E8;
}
.cont{
   
}
.a_tbdr{
    border: 1px dashed red;
}


header{
   min-height: 81px;
    margin: auto;

   

}
.a_header_logoo{
    margin-top: 10px;
   
  height: 30px;
}
main{
    height: 3119px;

    

}
.mt-5.a_mt-5{
    margin-top: 5em !important;
}
ul >li:hover{
    background-color: #EBEBEB;
    cursor: pointer;
    
}
.a_submenu{
  width: 100px;
    display: none;

}
.a_menu >li:hover ul{
 display: block;
}
.box {
    display: flex;
    flex: 1;
  }

 .clr1{
    background-color:#0F7DD8 ;
 }
 .clr2{
    background-color:#2654A1 ;
 }

 .clr3{
    background-color:#6769D0 ;
 }

 .clr4{
    background-color:#00AC7D ;
 }


footer{
  
  
}
.footer_1{
    height: 259px;
}
.footer_2{
    height: 1291px;
}

.footer_3{
    height: 300px;
}

.footer_4{
    height: 97px;
}


.a_times_fonts{
    font-family: 'Times New Roman', Times, serif;
}

.fw600{
    width: 100%;
    font-weight: 600;
    font-size: calc(10px + .15vw);
}
.font14 {
    font-size: calc(14px + .15vw);
    color: #414e5a;
}
.font10{
    font-size: calc(12px + .15vw);
    color: #788898;
}
.footer_fixed{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 0;
    height: 52px;
    background-color: #fff;
    border-top: 1px solid #e4eaef;
    z-index: 7;
    bottom: env(safe-area-inset-bottom,70px);
}
.f_txt{
    
        width: 100%;
        display: block;
        color: #414e5a;
        font-size: 10px;
        font-weight: 500;
        margin-top: 3px;
      
    
}





@media screen and (max-width: 976px) {
    .a_ul {
  display: none;
    }
   
  }
@media screen and (min-width: 768px) {
   
   
  }


@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1450px;
}}

