body{
    background-color: #E8E8E8;
}
.cntr{
    min-height: 1000px;
}
.a_tbdr{
    border: 1px dashed red;
  
}
.font11{
    
    font-size: 11px;
    font-weight: 400;
    color: #777;

}
.a_curser{
    cursor: pointer;
}

  .a_m22 a:hover{
    color: #0F7DD8;;
}
.a_m55{
    height: 1000px;
}
.spnclr{
    background-color: #3EBD46;
}
.a_font12 {
    font-size: 12px;
    font-weight: 500;
}

.a_font14{
    font-weight: 400;
    font-size: 14px;
   
}
.a_rating{
    color: #777;

}
.a_opn{
    color: #339d3a;;
}