body{
    background-color: #E8E8E8;
}
.cont{
   
}
.a_tbdr{
    border: 1px dashed red;
}


header{
   min-height: 81px;
    margin: auto;

   

}
.a_header_logoo{
    margin-top: 10px;
   
  height: 30px;
}
main{
    height: 3119px;

    

}
.mt-5.a_mt-5{
    margin-top: 5em !important;
}
ul >li:hover{
    background-color: #EBEBEB;
    cursor: pointer;
    
}
.a_submenu{
  width: 100px;
    display: none;

}
.a_menu >li:hover ul{
 display: block;
}

footer{
  
  
}
.footer_1{
    height: 259px;
}
.footer_2{
    height: 1291px;
}

.footer_3{
    height: 300px;
}

.footer_4{
    height: 97px;
}


.a_times_fonts{
    font-family: 'Times New Roman', Times, serif;
}
a_img{
    min-width: 60%;
  
    
}
.fw600{
    font-weight: 600;
    font-size: calc(10px + .15vw);
}

@media screen and (max-width: 976px) {
    .a_ul {
  display: none;
    }
   
  }
@media screen and (min-width: 768px) {
   
   
  }


@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1450px;
}}