body {
    background-color: #E8E8E8;
}
.cntr{
    min-height: 2500px;
}
.a_tbdr{
    border: 1px dashed red;
}
.a_btn{
    background: #339d3a;
}
.a_btn2{
    background: #339d3a;
}
.a_btn2:hover{
    background: #339d3a;
}
.onhvr:hover{
    background-color: #dedede;
}


.font11 {

    font-size: 11px;
    font-weight: 400;
    color: #111;

}
.a_font12 {
    font-size: 12px;
    font-weight: 500;
}
.a_font15 {
    font-size: 15px;
    font-weight: 500;
}
.font13 {
    font-size: calc(13px + .15vw);
}
.a_font14 {
    font-size: 14px;
    font-weight: 400;
}
.a_font18 {
    font-size: 18px;
    font-weight: 500;
}


.imgboxsize3 :hover  img {
    transform: scale3d(1.10, 1.10, 1.10);
    transition: transform 0.4s linear;

  }

  .imgboxsize3:not(:hover)  img{
    transition: transform 0.4s linear;
  }
  





@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1440px;
    }
}