body {
    background-color: #E8E8E8;
}
.a_btn{
    background: #339d3a;
}
.a_btn:hover{
    background: #027c0a;

}
.a_btn2{
   
visibility: hidden;
height: 50px;
}
.a_btn3{
    transform: translateX(-15px);
}
.btnscl:hover .a_btn3{
    visibility: hidden;

}

.btnscl:hover .a_btn2{
    transform: translateX(-15px);
    visibility: visible;
  
    transition-duration: 0.5s;
   
    
    
    


}

.cntr {
    min-height: 1000px;
}

.a_tbdr {
    border: 1px dashed red;

}
.smfont10 {
    font-size: calc(10px + .15vw);
}
.smfont8 {
    font-size: calc(8px + .15vw);
    font-weight: 600;
}
.smfont11 {
    font-size: calc(11px + .15vw);
    
}
.smfont13 {
    font-size: calc(13px + .15vw);
}

.font11 {

    font-size: 11px;
    font-weight: 400;
    color: #777;

}
.a_smhvr:hover{

    color: #0F7DD8;
}
  


.a_curser {
    cursor: pointer;
}

.a_m22 a:hover {
    color: #0F7DD8;
}

.a_m55 {
    height: 1000px;
}

.spnclr {
    background-color: #339d3a;
}

.a_font12 {
    font-size: 12px;
    font-weight: 500;
}

.a_font14 {
    font-weight: 400;
    font-size: 14px;

}
ul> li{
    list-style: none;
}

.a_font15 {
    font-size: 15px;
    font-weight: 500;
}

.a_rating {
    color: #777;

}

.a_opn {
    color: #339d3a;
    ;
}

.a_hvr {
    color: #111;
    text-decoration: none;
}
.clr111{
    color: #111;
}
.onhvr:hover{
    background-color: #dedede;
}


.a_hvr:hover {
    color: #0F7DD8;
    text-decoration: underline;

}

.imgboxsize3 :hover .target-div >img  {
    transform: scale3d(1.10, 1.10, 1.10);
    transition: transform 0.4s linear;

  }

  .imgboxsize3:not(:hover)  img{
    transition: transform 0.4s linear;
  }
  

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1440px;
    }
}